@import "tailwindcss";

@layer base {
  :root {
    --background: #F5F5F5;
    --foreground: #000000;
    --primary: #B88E2F;
    --primary-foreground: #ffffff;
    --secondary: #FFF3E3;
    --secondary-foreground: #333333;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
}