@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --background: #F5F5F5;
    --foreground: #000000;
    --primary: #B88E2F;
    --primary-foreground: #ffffff;
    --secondary: #FFF3E3;
    --secondary-foreground: #333333;

    --footer-highlight: #9F9F9F;

    --paragraph-desc: #666666;

    --card-background: #F4F5F7;
    --card-desc: #898989;
    --card-hover-background: #3A3A3A;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  h2, h3, h4 {
    @apply text-(--foreground) font-bold
  }

  h1 {
    @apply text-[52px] text-(--primary) font-bold
  }

  h2 {
    @apply text-[40px]
  }

  h3 {
    @apply text-[32px]
  }

  h4 {
    @apply text-[24px]
  }

  h5 {
    @apply text-[16px] text-(--foreground) font-semibold
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-footer-highlight: var(--footer-highlight);

  --color-paragraph-desc: var(--paragraph-desc);

  --color-card-background: var(--card-background);
  --color-card-desc: var(--card-desc);
  --color-card-hover-background: var(--card-hover-background);

  --color-button-primary: var(--primary);
  --color-button-primary-foreground: var(--primary-foreground);
  --color-button-secondary: var(--primary-foreground);
  --color-button-secondary-foreground: var(--primary);

  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}